{#
/**
 * @file
 * Paragraph template: Card (cpg_card)
 * Fields: field_p_title, field_p_body, field_p_icon, field_p_image, field_p_link
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'cpg-paragraph-card',
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.field_p_image|render|trim %}
      <div class="cpg-paragraph-card__image">
        {{ content.field_p_image }}
      </div>
    {% endif %}
    <div class="cpg-paragraph-card__content">
      {% if content.field_p_icon|render|striptags|trim %}
        <div class="cpg-paragraph-card__icon">{{ content.field_p_icon|render|striptags|trim }}</div>
      {% endif %}
      {% if content.field_p_title|render|striptags|trim %}
        <h3 class="cpg-paragraph-card__title">{{ content.field_p_title }}</h3>
      {% endif %}
      {% if content.field_p_body|render|trim %}
        <div class="cpg-paragraph-card__body">{{ content.field_p_body }}</div>
      {% endif %}
      {% if content.field_p_link|render|trim %}
        <div class="cpg-paragraph-card__link">{{ content.field_p_link }}</div>
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
